*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
}
.contenedor{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.menu{
    background-color: #ffffff; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    color: rgb(60, 124, 60);
    padding-left: 12%;
}
.btn>img{
    width: 100%;
    height: 100%;
}
.btn>img a:hover{
    filter: blur(5px);
}
.btn{
    width: 20%;
    justify-items: center;
}
.btn>a{
    color: #204485;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
}
.btn>a:hover{
    color: rgb(198, 198, 198);
}
.banner>img{
    width: 100%;
}
.texto{
    padding: 5%;
    line-height: 150%;
}
.pie{
    display: flex;
    flex-direction: row;
    padding: 1%;
}
.pie>p{
    flex-grow: 2;
}
.redes{
    margin-right: 1%;
}
.redes:hover{
    filter: grayscale(100%);
}
.caja01{
    display: flex;
    flex-direction: row;
    height: auto;
}
.texti{
    
    width: 50%;
    padding: 5%;
}
.imagen{
    width: 50%;
}
.imagen>img{
    width: 100%;
    height: 100%;
}
#alreves{
    flex-direction: row-reverse;
}
.caja02{
    display: flex;
    flex-direction: row;
    height: 300px;
}
.textote{
    padding: 5%;
    width: 70%;
}
.imagensita{
    
    width: 30%;
}
#alreves2{
    flex-direction: row-reverse;
}
iframe{
    width: 100%;
    height: 100%;
}
.fancy{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.photos>img{
    width: 100%;
}
.imagen>h1{
    margin: 1em auto;
    text-align: center;
}
input, textarea, select{
    margin: 10px 0 0 0;
    width: 100%;
}
.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    display: inline;
}
input[type="submit"]{
    display: block;
    width: 40%;
    margin: 1em auto;
    height: 2em;
    font-size: 20px;
    background-color: rgb(19, 87, 12);
    color: white;
}
@media(max-width:786px){
    .caja01{
        flex-wrap: wrap;
    }
    .texti{
        width: 100%;
        padding: 5%;
        line-height: 150%;
    }
    .imagen{
        width: 100%;
    }
    #alreves{
        flex-direction: row-reverse;
    }
}